<!DOCTYPE html>
<html ng-app="NameGeneratorApp">
  <head>
    <title>Name Generator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .container {
        max-width: 1000px;
      }
    </style>
  </head>
    <body ng-controller="NameGeneratorController">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h1>Name Generator</h1>
          <br>
          <form role="form" ng-submit="getName()">
            <div class="form-group">
              <input type="text" name="url" class="form-control" id="seed-box" placeholder="(Optional) enter a seed..." style="max-width: 300px;" ng-model="seed">
            </div>
            <div class="col-sm-6">
              <button type="submit" class="btn btn-primary btn-block">Generate</button>
            </div>
            <div class="col-sm-6">
              <button type="button" ng-click="clear()" class="btn btn-warning btn-block">Clear</button>
            </div>
          </form>
        </div>
        <div class="col-sm-5 col-sm-offset-1">
          <h2>Names</h2>
          <br>
          <div id="results">
            <table class="table table-striped">
              <tbody>
              {% raw %}
                <tr ng-repeat="(key, val) in names">
                  <td>{{val}}</td>
                </tr>
              {% endraw %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </body>
</html>